USE [master]
GO
IF EXISTS (SELECT name FROM master.dbo.sysdatabases WHERE name = N'VTE')
	DROP DATABASE [KenoBingo]
GO
DECLARE @device_directory NVARCHAR(520)
SELECT @device_directory = SUBSTRING(filename, 1, CHARINDEX(N'master.mdf', LOWER(filename)) - 1)
FROM master.dbo.sysaltfiles WHERE dbid = 1 AND fileid = 1
/****** Object:  Database [KenoBingo]    Script Date: 07/13/2009 15:22:26 ******/
EXECUTE (N'CREATE DATABASE VTE
  ON PRIMARY (NAME = N''vtesecurity'', FILENAME = N''' + @device_directory + N'vtesecurity.mdf'')
  LOG ON (NAME = N''vtesecurity_log'',  FILENAME = N''' + @device_directory + N'vtesecurity_log.ldf'')')
GO
EXEC dbo.sp_dbcmptlevel @dbname=N'vtesecurity', @new_cmptlevel=90
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [vtesecurity].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [vtesecurity]
GO
/****** Object:  ForeignKey [FK_CSLAObjects_CSLAObjects]    Script Date: 08/06/2009 13:33:41 ******/
ALTER TABLE [dbo].[CSLAObjects] DROP CONSTRAINT [FK_CSLAObjects_CSLAObjects]
GO
/****** Object:  ForeignKey [FK_Users_DataBases]    Script Date: 08/06/2009 13:33:42 ******/
ALTER TABLE [dbo].[Users] DROP CONSTRAINT [FK_Users_DataBases]
GO
/****** Object:  ForeignKey [FK_Users_Roles]    Script Date: 08/06/2009 13:33:42 ******/
ALTER TABLE [dbo].[Users] DROP CONSTRAINT [FK_Users_Roles]
GO
/****** Object:  ForeignKey [FK_FieldsPrivileges_CSLAObjects]    Script Date: 08/06/2009 13:33:42 ******/
ALTER TABLE [dbo].[FieldsPrivileges] DROP CONSTRAINT [FK_FieldsPrivileges_CSLAObjects]
GO
/****** Object:  ForeignKey [FK_FieldsPrivileges_Roles]    Script Date: 08/06/2009 13:33:42 ******/
ALTER TABLE [dbo].[FieldsPrivileges] DROP CONSTRAINT [FK_FieldsPrivileges_Roles]
GO
/****** Object:  ForeignKey [FK_ObjectPrivileges_CSLAObjects]    Script Date: 08/06/2009 13:33:42 ******/
ALTER TABLE [dbo].[ObjectPrivileges] DROP CONSTRAINT [FK_ObjectPrivileges_CSLAObjects]
GO
/****** Object:  ForeignKey [FK_ObjectPrivileges_Roles]    Script Date: 08/06/2009 13:33:42 ******/
ALTER TABLE [dbo].[ObjectPrivileges] DROP CONSTRAINT [FK_ObjectPrivileges_Roles]
GO
/****** Object:  StoredProcedure [dbo].[updateRole]    Script Date: 08/06/2009 13:33:43 ******/
DROP PROCEDURE [dbo].[updateRole]
GO
/****** Object:  StoredProcedure [dbo].[addRole]    Script Date: 08/06/2009 13:33:43 ******/
DROP PROCEDURE [dbo].[addRole]
GO
/****** Object:  StoredProcedure [dbo].[getRoleById]    Script Date: 08/06/2009 13:33:43 ******/
DROP PROCEDURE [dbo].[getRoleById]
GO
/****** Object:  StoredProcedure [dbo].[getRoles]    Script Date: 08/06/2009 13:33:43 ******/
DROP PROCEDURE [dbo].[getRoles]
GO
/****** Object:  StoredProcedure [dbo].[deleteRole]    Script Date: 08/06/2009 13:33:43 ******/
DROP PROCEDURE [dbo].[deleteRole]
GO
/****** Object:  StoredProcedure [dbo].[updateEmploye]    Script Date: 08/06/2009 13:33:43 ******/
DROP PROCEDURE [dbo].[updateEmploye]
GO
/****** Object:  StoredProcedure [dbo].[getEmployeById]    Script Date: 08/06/2009 13:33:43 ******/
DROP PROCEDURE [dbo].[getEmployeById]
GO
/****** Object:  StoredProcedure [dbo].[getEmployes]    Script Date: 08/06/2009 13:33:43 ******/
DROP PROCEDURE [dbo].[getEmployes]
GO
/****** Object:  StoredProcedure [dbo].[addEmploye]    Script Date: 08/06/2009 13:33:43 ******/
DROP PROCEDURE [dbo].[addEmploye]
GO
/****** Object:  StoredProcedure [dbo].[deleteEmploye]    Script Date: 08/06/2009 13:33:43 ******/
DROP PROCEDURE [dbo].[deleteEmploye]
GO
/****** Object:  StoredProcedure [dbo].[addUser]    Script Date: 08/06/2009 13:33:43 ******/
DROP PROCEDURE [dbo].[addUser]
GO
/****** Object:  StoredProcedure [dbo].[updateUser]    Script Date: 08/06/2009 13:33:43 ******/
DROP PROCEDURE [dbo].[updateUser]
GO
/****** Object:  StoredProcedure [dbo].[getUserById]    Script Date: 08/06/2009 13:33:43 ******/
DROP PROCEDURE [dbo].[getUserById]
GO
/****** Object:  StoredProcedure [dbo].[getUsers]    Script Date: 08/06/2009 13:33:43 ******/
DROP PROCEDURE [dbo].[getUsers]
GO
/****** Object:  StoredProcedure [dbo].[deleteUser]    Script Date: 08/06/2009 13:33:43 ******/
DROP PROCEDURE [dbo].[deleteUser]
GO
/****** Object:  StoredProcedure [dbo].[deleteObjectPrivilege]    Script Date: 08/06/2009 13:33:43 ******/
DROP PROCEDURE [dbo].[deleteObjectPrivilege]
GO
/****** Object:  StoredProcedure [dbo].[updateObjectPrivilege]    Script Date: 08/06/2009 13:33:43 ******/
DROP PROCEDURE [dbo].[updateObjectPrivilege]
GO
/****** Object:  StoredProcedure [dbo].[getObjectPrivilegeById]    Script Date: 08/06/2009 13:33:43 ******/
DROP PROCEDURE [dbo].[getObjectPrivilegeById]
GO
/****** Object:  StoredProcedure [dbo].[getObjectPrivileges]    Script Date: 08/06/2009 13:33:43 ******/
DROP PROCEDURE [dbo].[getObjectPrivileges]
GO
/****** Object:  StoredProcedure [dbo].[addObjectPrivilege]    Script Date: 08/06/2009 13:33:43 ******/
DROP PROCEDURE [dbo].[addObjectPrivilege]
GO
/****** Object:  StoredProcedure [dbo].[addFieldsPrivilege]    Script Date: 08/06/2009 13:33:43 ******/
DROP PROCEDURE [dbo].[addFieldsPrivilege]
GO
/****** Object:  StoredProcedure [dbo].[deleteFieldsPrivilege]    Script Date: 08/06/2009 13:33:43 ******/
DROP PROCEDURE [dbo].[deleteFieldsPrivilege]
GO
/****** Object:  StoredProcedure [dbo].[getFieldsPrivilegeById]    Script Date: 08/06/2009 13:33:43 ******/
DROP PROCEDURE [dbo].[getFieldsPrivilegeById]
GO
/****** Object:  StoredProcedure [dbo].[getFieldsPrivileges]    Script Date: 08/06/2009 13:33:43 ******/
DROP PROCEDURE [dbo].[getFieldsPrivileges]
GO
/****** Object:  StoredProcedure [dbo].[updateFieldsPrivilege]    Script Date: 08/06/2009 13:33:43 ******/
DROP PROCEDURE [dbo].[updateFieldsPrivilege]
GO
/****** Object:  StoredProcedure [dbo].[updateCSLAObject]    Script Date: 08/06/2009 13:33:43 ******/
DROP PROCEDURE [dbo].[updateCSLAObject]
GO
/****** Object:  View [dbo].[ObjectPrivilegesList]    Script Date: 08/06/2009 13:33:43 ******/
DROP VIEW [dbo].[ObjectPrivilegesList]
GO
/****** Object:  StoredProcedure [dbo].[addCSLAObject]    Script Date: 08/06/2009 13:33:43 ******/
DROP PROCEDURE [dbo].[addCSLAObject]
GO
/****** Object:  StoredProcedure [dbo].[deleteCSLAObject]    Script Date: 08/06/2009 13:33:43 ******/
DROP PROCEDURE [dbo].[deleteCSLAObject]
GO
/****** Object:  StoredProcedure [dbo].[getCSLAObjectById]    Script Date: 08/06/2009 13:33:43 ******/
DROP PROCEDURE [dbo].[getCSLAObjectById]
GO
/****** Object:  StoredProcedure [dbo].[getCSLAObjects]    Script Date: 08/06/2009 13:33:43 ******/
DROP PROCEDURE [dbo].[getCSLAObjects]
GO
/****** Object:  View [dbo].[FieldPrivilegesList]    Script Date: 08/06/2009 13:33:43 ******/
DROP VIEW [dbo].[FieldPrivilegesList]
GO
/****** Object:  StoredProcedure [dbo].[GetChildFieldsPrivileges]    Script Date: 08/06/2009 13:33:43 ******/
DROP PROCEDURE [dbo].[GetChildFieldsPrivileges]
GO
/****** Object:  StoredProcedure [dbo].[GetChildObjectPrivileges]    Script Date: 08/06/2009 13:33:43 ******/
DROP PROCEDURE [dbo].[GetChildObjectPrivileges]
GO
/****** Object:  StoredProcedure [dbo].[GetPrivileges]    Script Date: 08/06/2009 13:33:43 ******/
DROP PROCEDURE [dbo].[GetPrivileges]
GO
/****** Object:  StoredProcedure [dbo].[getConnectionString]    Script Date: 08/06/2009 13:33:43 ******/
DROP PROCEDURE [dbo].[getConnectionString]
GO
/****** Object:  StoredProcedure [dbo].[getDataBaseById]    Script Date: 08/06/2009 13:33:43 ******/
DROP PROCEDURE [dbo].[getDataBaseById]
GO
/****** Object:  StoredProcedure [dbo].[getDataBases]    Script Date: 08/06/2009 13:33:43 ******/
DROP PROCEDURE [dbo].[getDataBases]
GO
/****** Object:  StoredProcedure [dbo].[deleteDataBase]    Script Date: 08/06/2009 13:33:43 ******/
DROP PROCEDURE [dbo].[deleteDataBase]
GO
/****** Object:  StoredProcedure [dbo].[addDataBase]    Script Date: 08/06/2009 13:33:43 ******/
DROP PROCEDURE [dbo].[addDataBase]
GO
/****** Object:  StoredProcedure [dbo].[Login]    Script Date: 08/06/2009 13:33:43 ******/
DROP PROCEDURE [dbo].[Login]
GO
/****** Object:  StoredProcedure [dbo].[updateDataBase]    Script Date: 08/06/2009 13:33:43 ******/
DROP PROCEDURE [dbo].[updateDataBase]
GO
/****** Object:  View [dbo].[View_1]    Script Date: 08/06/2009 13:33:42 ******/
DROP VIEW [dbo].[View_1]
GO
/****** Object:  Table [dbo].[ObjectPrivileges]    Script Date: 08/06/2009 13:33:42 ******/
ALTER TABLE [dbo].[ObjectPrivileges] DROP CONSTRAINT [FK_ObjectPrivileges_CSLAObjects]
GO
ALTER TABLE [dbo].[ObjectPrivileges] DROP CONSTRAINT [FK_ObjectPrivileges_Roles]
GO
ALTER TABLE [dbo].[ObjectPrivileges] DROP CONSTRAINT [DF_ObjectPrivileges_Active]
GO
DROP TABLE [dbo].[ObjectPrivileges]
GO
/****** Object:  Table [dbo].[FieldsPrivileges]    Script Date: 08/06/2009 13:33:42 ******/
ALTER TABLE [dbo].[FieldsPrivileges] DROP CONSTRAINT [FK_FieldsPrivileges_CSLAObjects]
GO
ALTER TABLE [dbo].[FieldsPrivileges] DROP CONSTRAINT [FK_FieldsPrivileges_Roles]
GO
ALTER TABLE [dbo].[FieldsPrivileges] DROP CONSTRAINT [DF_FieldsPrivileges_Active]
GO
DROP TABLE [dbo].[FieldsPrivileges]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 08/06/2009 13:33:42 ******/
ALTER TABLE [dbo].[Users] DROP CONSTRAINT [FK_Users_DataBases]
GO
ALTER TABLE [dbo].[Users] DROP CONSTRAINT [FK_Users_Roles]
GO
ALTER TABLE [dbo].[Users] DROP CONSTRAINT [DF_Users_DateOfHireing]
GO
ALTER TABLE [dbo].[Users] DROP CONSTRAINT [DF_KORISNICI_AKTIVEN]
GO
DROP TABLE [dbo].[Users]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 08/06/2009 13:33:41 ******/
ALTER TABLE [dbo].[Roles] DROP CONSTRAINT [DF_ULOGI_AKTIVEN]
GO
DROP TABLE [dbo].[Roles]
GO
/****** Object:  Table [dbo].[Employes]    Script Date: 08/06/2009 13:33:41 ******/
ALTER TABLE [dbo].[Employes] DROP CONSTRAINT [DF_Employes_DateOfHireing]
GO
ALTER TABLE [dbo].[Employes] DROP CONSTRAINT [DF_Employes_Active]
GO
DROP TABLE [dbo].[Employes]
GO
/****** Object:  Table [dbo].[CSLAObjects]    Script Date: 08/06/2009 13:33:41 ******/
ALTER TABLE [dbo].[CSLAObjects] DROP CONSTRAINT [FK_CSLAObjects_CSLAObjects]
GO
ALTER TABLE [dbo].[CSLAObjects] DROP CONSTRAINT [DF_CSLAObjects_Active]
GO
DROP TABLE [dbo].[CSLAObjects]
GO
/****** Object:  Table [dbo].[DataBases]    Script Date: 08/06/2009 13:33:41 ******/
ALTER TABLE [dbo].[DataBases] DROP CONSTRAINT [DF_BAZI_AKTIVEN]
GO
DROP TABLE [dbo].[DataBases]
GO
/****** Object:  Table [dbo].[DataBases]    Script Date: 08/06/2009 13:33:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DataBases](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[EndUserName] [nvarchar](50) NOT NULL,
	[DatabaseName] [nvarchar](50) NULL,
	[ConnetionString] [nvarchar](250) NOT NULL,
	[Active] [bit] NOT NULL CONSTRAINT [DF_BAZI_AKTIVEN]  DEFAULT ((1)),
	[LastChanged] [timestamp] NOT NULL,
 CONSTRAINT [PK_BAZI] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[DataBases] ON
INSERT [dbo].[DataBases] ([Id], [EndUserName], [DatabaseName], [ConnetionString], [Active]) VALUES (1, N'Локална', N'VTE', N'data source=.\SQLEXPRESS;Initial Catalog={0};Integrated Security=true;', 1)
SET IDENTITY_INSERT [dbo].[DataBases] OFF
/****** Object:  Table [dbo].[CSLAObjects]    Script Date: 08/06/2009 13:33:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CSLAObjects](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IdCSLAObject] [int] NULL,
	[CSLAObjectName] [nvarchar](100) NOT NULL,
	[CSLAObjectType] [nvarchar](100) NOT NULL,
	[Active] [bit] NOT NULL CONSTRAINT [DF_CSLAObjects_Active]  DEFAULT ((1)),
	[LastChanged] [timestamp] NOT NULL,
 CONSTRAINT [PK_CSLAObjects] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[CSLAObjects] ON
INSERT [dbo].[CSLAObjects] ([Id], [IdCSLAObject], [CSLAObjectName], [CSLAObjectType], [Active]) VALUES (1, NULL, N'Cities', N'EditableRoot', 1)
INSERT [dbo].[CSLAObjects] ([Id], [IdCSLAObject], [CSLAObjectName], [CSLAObjectType], [Active]) VALUES (3, NULL, N'Countries', N'EditableRootList', 1)
INSERT [dbo].[CSLAObjects] ([Id], [IdCSLAObject], [CSLAObjectName], [CSLAObjectType], [Active]) VALUES (5, NULL, N'VehicleBrakes', N'EditableRootList', 1)
GO
print 'Processed 100 total records'
SET IDENTITY_INSERT [dbo].[CSLAObjects] OFF
/****** Object:  Table [dbo].[Employes]    Script Date: 08/06/2009 13:33:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Employes](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IdWorkPosition] [int] NOT NULL,
	[FirstName] [nvarchar](50) NOT NULL,
	[Prezime] [nvarchar](50) NOT NULL,
	[Address] [nvarchar](200) NOT NULL,
	[EMBG] [char](13) NOT NULL,
	[BLK] [nvarchar](10) NOT NULL,
	[DateOfBirth] [datetime] NOT NULL,
	[DateOfHireing] [datetime] NOT NULL CONSTRAINT [DF_Employes_DateOfHireing]  DEFAULT (getdate()),
	[RFID] [nvarchar](50) NULL,
	[LastChanged] [timestamp] NOT NULL,
	[Active] [bit] NOT NULL CONSTRAINT [DF_Employes_Active]  DEFAULT ((1)),
 CONSTRAINT [PK_Employes] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Employes] ON
INSERT [dbo].[Employes] ([Id], [IdWorkPosition], [FirstName], [Prezime], [Address], [EMBG], [BLK], [DateOfBirth], [DateOfHireing], [RFID], [Active]) VALUES (1, 1, N'Ангелина', N'Чушкова', N'сдаф', N'432434       ', N'213214', CAST(0x0000774600000000 AS DateTime), CAST(0x00009ADB00000000 AS DateTime), N'3423', 1)
INSERT [dbo].[Employes] ([Id], [IdWorkPosition], [FirstName], [Prezime], [Address], [EMBG], [BLK], [DateOfBirth], [DateOfHireing], [RFID], [Active]) VALUES (2, 1, N'Иван', N'Карпузов', N'клнх', N'4234432      ', N'42342', CAST(0x00009ADB00000000 AS DateTime), CAST(0x00009ADB00000000 AS DateTime), N'67', 1)
INSERT [dbo].[Employes] ([Id], [IdWorkPosition], [FirstName], [Prezime], [Address], [EMBG], [BLK], [DateOfBirth], [DateOfHireing], [RFID], [Active]) VALUES (3, 5, N'Бранко', N'Трајковски', N'5', N'5            ', N'5', CAST(0x00009ADB00000000 AS DateTime), CAST(0x00009ADB00000000 AS DateTime), N'5', 1)
SET IDENTITY_INSERT [dbo].[Employes] OFF
/****** Object:  Table [dbo].[Roles]    Script Date: 08/06/2009 13:33:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[RoleName] [nvarchar](50) NOT NULL,
	[Active] [bit] NOT NULL CONSTRAINT [DF_ULOGI_AKTIVEN]  DEFAULT ((1)),
	[LastChanged] [timestamp] NOT NULL,
 CONSTRAINT [PK_ULOGI] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Roles] ON
INSERT [dbo].[Roles] ([Id], [RoleName], [Active]) VALUES (1, N'Administrator', 1)
INSERT [dbo].[Roles] ([Id], [RoleName], [Active]) VALUES (2, N'Operator', 1)
INSERT [dbo].[Roles] ([Id], [RoleName], [Active]) VALUES (3, N'Kontrolor', 1)
SET IDENTITY_INSERT [dbo].[Roles] OFF
/****** Object:  Table [dbo].[Users]    Script Date: 08/06/2009 13:33:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Users](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[IdRole] [int] NOT NULL,
	[IdDataBase] [int] NOT NULL,
	[UserFullName] [nvarchar](50) NULL,
	[UserName] [nvarchar](50) NOT NULL,
	[UserPass] [nvarchar](50) NOT NULL,
	[FirstName] [nvarchar](50) NULL,
	[SureName] [nvarchar](50) NULL,
	[Address] [nvarchar](200) NULL,
	[EMBG] [char](13) NULL,
	[BLK] [nvarchar](10) NULL,
	[DateOfBirth] [datetime] NULL,
	[DateOfHireing] [datetime] NULL CONSTRAINT [DF_Users_DateOfHireing]  DEFAULT (getdate()),
	[RFID] [nvarchar](50) NULL,
	[Active] [bit] NOT NULL CONSTRAINT [DF_KORISNICI_AKTIVEN]  DEFAULT ((1)),
	[LastChanged] [timestamp] NOT NULL,
 CONSTRAINT [PK_KORISNICI] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON
INSERT [dbo].[Users] ([ID], [IdRole], [IdDataBase], [UserFullName], [UserName], [UserPass], [FirstName], [SureName], [Address], [EMBG], [BLK], [DateOfBirth], [DateOfHireing], [RFID], [Active]) VALUES (1, 1, 1, N'aaa', N'1', N'1', N'a', N'a', N'', N'0000         ', N'', NULL, CAST(0x00009AF800CDD7B4 AS DateTime), N'', 1)
INSERT [dbo].[Users] ([ID], [IdRole], [IdDataBase], [UserFullName], [UserName], [UserPass], [FirstName], [SureName], [Address], [EMBG], [BLK], [DateOfBirth], [DateOfHireing], [RFID], [Active]) VALUES (2, 2, 1, N'bbb', N'2', N'2', N'b', N'b', NULL, N'0000         ', NULL, NULL, CAST(0x00009AF800CDD82D AS DateTime), NULL, 1)
SET IDENTITY_INSERT [dbo].[Users] OFF
/****** Object:  Table [dbo].[FieldsPrivileges]    Script Date: 08/06/2009 13:33:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FieldsPrivileges](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[IdRole] [int] NOT NULL,
	[IdCSLAObject] [int] NOT NULL,
	[CSLAObjectPropertyName] [nvarchar](50) NOT NULL,
	[Active] [bit] NOT NULL CONSTRAINT [DF_FieldsPrivileges_Active]  DEFAULT ((1)),
	[LastChanged] [timestamp] NOT NULL,
 CONSTRAINT [PK_FieldsPrivileges] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[FieldsPrivileges] ON
INSERT [dbo].[FieldsPrivileges] ([Id], [IdRole], [IdCSLAObject], [CSLAObjectPropertyName], [Active]) VALUES (1, 2, 8, N'DateOfBirth', 0)
INSERT [dbo].[FieldsPrivileges] ([Id], [IdRole], [IdCSLAObject], [CSLAObjectPropertyName], [Active]) VALUES (2, 2, 1, N'CommunityCode', 0)
SET IDENTITY_INSERT [dbo].[FieldsPrivileges] OFF
/****** Object:  Table [dbo].[ObjectPrivileges]    Script Date: 08/06/2009 13:33:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ObjectPrivileges](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IdRole] [int] NOT NULL,
	[IdCSLAObject] [int] NOT NULL,
	[CanAddObject] [bit] NOT NULL,
	[CanGetObject] [bit] NOT NULL,
	[CanDeleteObject] [bit] NOT NULL,
	[CanEditObject] [bit] NOT NULL,
	[Active] [bit] NOT NULL CONSTRAINT [DF_ObjectPrivileges_Active]  DEFAULT ((1)),
	[LastChanged] [timestamp] NOT NULL,
 CONSTRAINT [PK_ObjectPrivileges] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[ObjectPrivileges] ON
INSERT [dbo].[ObjectPrivileges] ([Id], [IdRole], [IdCSLAObject], [CanAddObject], [CanGetObject], [CanDeleteObject], [CanEditObject], [Active]) VALUES (1, 1, 1, 1, 1, 1, 1, 1)
INSERT [dbo].[ObjectPrivileges] ([Id], [IdRole], [IdCSLAObject], [CanAddObject], [CanGetObject], [CanDeleteObject], [CanEditObject], [Active]) VALUES (2, 2, 1, 1, 1, 1, 1, 1)
INSERT [dbo].[ObjectPrivileges] ([Id], [IdRole], [IdCSLAObject], [CanAddObject], [CanGetObject], [CanDeleteObject], [CanEditObject], [Active]) VALUES (3, 1, 3, 1, 1, 1, 1, 1)
GO
print 'Processed 100 total records'
GO
print 'Processed 200 total records'
SET IDENTITY_INSERT [dbo].[ObjectPrivileges] OFF
/****** Object:  View [dbo].[View_1]    Script Date: 08/06/2009 13:33:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[View_1]
AS
SELECT     dbo.Users.ID AS IdUser, dbo.Users.IdRole, dbo.Users.IdDataBase, dbo.Users.UserFullName, dbo.Users.UserName, dbo.Users.UserPass, 
                      dbo.Roles.RoleName, dbo.DataBases.EndUserName, dbo.DataBases.DatabaseName, dbo.DataBases.ConnetionString
FROM         dbo.Users INNER JOIN
                      dbo.Roles ON dbo.Users.IdRole = dbo.Roles.Id INNER JOIN
                      dbo.DataBases ON dbo.Users.IdDataBase = dbo.DataBases.Id
WHERE     (dbo.Users.Active = 1)
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[40] 4[20] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "Users"
            Begin Extent = 
               Top = 6
               Left = 38
               Bottom = 121
               Right = 190
            End
            DisplayFlags = 280
            TopColumn = 4
         End
         Begin Table = "Roles"
            Begin Extent = 
               Top = 6
               Left = 228
               Bottom = 121
               Right = 380
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "DataBases"
            Begin Extent = 
               Top = 6
               Left = 418
               Bottom = 121
               Right = 576
            End
            DisplayFlags = 280
            TopColumn = 2
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
      Begin ColumnWidths = 9
         Width = 284
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1560
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'View_1'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'View_1'
GO
/****** Object:  StoredProcedure [dbo].[updateDataBase]    Script Date: 08/06/2009 13:33:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Description: Procedura za UPDATE na zapis

CREATE PROC [dbo].[updateDataBase]
		@Id int,
		@EndUserName nvarchar(50),
		@DatabaseName nvarchar(50),
		@ConnetionString nvarchar(250),
		@LastChanged timestamp,
		@newLastChanged timestamp output
AS
    UPDATE [DataBases]
		SET
		EndUserName = @endusername,
		DatabaseName = @databasename,
		ConnetionString = @connetionstring
	WHERE ID=@id AND LastChanged=@lastChanged
  IF @@ROWCOUNT = 0
    RAISERROR('Redot e edituvan od drug korisnik', 16, 1)  
	
	SELECT @newLastChanged = LastChanged 
	FROM [DataBases] WHERE ID=@id
	RETURN
GO
/****** Object:  StoredProcedure [dbo].[Login]    Script Date: 08/06/2009 13:33:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Ivan Karpuzov
-- Create date: 
-- Description:	procedura za logiranje i vcuituvanje na privilegii
-- =============================================
CREATE PROCEDURE [dbo].[Login] 
	-- Add the parameters for the stored procedure here
	@user nvarchar(50), 
	@pw nvarchar(50)
AS
SELECT	dbo.Users.ID AS IdUser,
		dbo.Users.IdRole,
		dbo.Users.IdDataBase,
		dbo.Users.UserFullName,
		dbo.Users.UserName,
		dbo.Users.UserPass, 
        dbo.Roles.RoleName,
		dbo.DataBases.EndUserName,
		dbo.DataBases.DatabaseName,
		dbo.DataBases.ConnetionString,
		dbo.Users.ID As IdEmployee
		
FROM	dbo.Users INNER JOIN
		dbo.Roles ON dbo.Users.IdRole = dbo.Roles.Id INNER JOIN
		dbo.DataBases ON dbo.Users.IdDataBase = dbo.DataBases.Id
WHERE (dbo.Users.Active = 1) AND (dbo.Users.UserName=@user) AND (dbo.Users.UserPass=@pw)
GO
/****** Object:  StoredProcedure [dbo].[addDataBase]    Script Date: 08/06/2009 13:33:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Description: Procedura za dodavanje na nov zapis

CREATE PROC [dbo].[addDataBase]
		@EndUserName nvarchar(50),
		@DatabaseName nvarchar(50),
		@ConnetionString nvarchar(250),
		@NewId int output,
		@newLastChanged timestamp output
AS
    INSERT INTO [DataBases]
		(
		EndUserName,
		DatabaseName,
		ConnetionString
		)
		VALUES
		(
		@EndUserName,
		@DatabaseName,
		@ConnetionString
		)
	
	SELECT @NewId = Id, @newLastChanged = LastChanged
	FROM [DataBases] WHERE Id=SCOPE_IDENTITY()
	RETURN
GO
/****** Object:  StoredProcedure [dbo].[deleteDataBase]    Script Date: 08/06/2009 13:33:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Description: Procedura za brisenje(AKTIVEN=FALSE) na zapis po primaren kluc

CREATE PROC [dbo].[deleteDataBase]
	@id int
AS
    UPDATE [DataBases]
	SET
		Active=0
	WHERE ID=@id
GO
/****** Object:  StoredProcedure [dbo].[getDataBases]    Script Date: 08/06/2009 13:33:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Description: Procedura za zimanje site zapisi

CREATE PROC [dbo].[getDataBases]
AS
    SELECT 
        Id,
        EndUserName,
        DatabaseName,
        ConnetionString,
        LastChanged
    FROM [DataBases]
 WHERE Active = 1
GO
/****** Object:  StoredProcedure [dbo].[getDataBaseById]    Script Date: 08/06/2009 13:33:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Description: Procedura za zimanje na red po Primaren kluc
 
CREATE PROC [dbo].[getDataBaseById] 
	@id int
AS
    SELECT 
        Id,
        EndUserName,
        DatabaseName,
        ConnetionString,
        LastChanged
    FROM   [DataBases]
	WHERE (Id = @id) AND (Active = 1)
GO
/****** Object:  StoredProcedure [dbo].[getConnectionString]    Script Date: 08/06/2009 13:33:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Name
-- Create date: 
-- Description:	
-- =============================================
CREATE PROCEDURE [dbo].[getConnectionString] 
	-- Add the parameters for the stored procedure here
	@userId bigint
AS
SELECT     dbo.Users.ID AS UserId, dbo.DataBases.ConnetionString, dbo.DataBases.DatabaseName
FROM         dbo.Users INNER JOIN
                      dbo.DataBases ON dbo.Users.IdDataBase = dbo.DataBases.Id
WHERE Users.id=@userId
GO
/****** Object:  StoredProcedure [dbo].[GetPrivileges]    Script Date: 08/06/2009 13:33:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Ivan
-- Create date: 
-- Description:	
-- =============================================
CREATE PROCEDURE [dbo].[GetPrivileges]
AS
SELECT     dbo.Roles.RoleName, dbo.CSLAObjects.CSLAObjectName, dbo.ObjectPrivileges.CanAddObject, dbo.ObjectPrivileges.CanGetObject, 
                      dbo.ObjectPrivileges.CanDeleteObject, dbo.ObjectPrivileges.CanEditObject
FROM         dbo.Roles INNER JOIN
                      dbo.ObjectPrivileges ON dbo.Roles.Id = dbo.ObjectPrivileges.IdRole INNER JOIN
                      dbo.CSLAObjects ON dbo.ObjectPrivileges.IdCSLAObject = dbo.CSLAObjects.Id
WHERE     (dbo.ObjectPrivileges.Active = 1)
GO
/****** Object:  StoredProcedure [dbo].[GetChildObjectPrivileges]    Script Date: 08/06/2009 13:33:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[GetChildObjectPrivileges] 
	-- Add the parameters for the stored procedure here
	@user nvarchar(50), 
	@pw nvarchar(50)
as
select  dbo.ObjectPrivileges.CanAddObject,
		dbo.ObjectPrivileges.CanGetObject,
		dbo.ObjectPrivileges.CanDeleteObject,
		dbo.ObjectPrivileges.CanEditObject,
		dbo.CSLAObjects.CSLAObjectName,
		dbo.CSLAObjects.CSLAObjectType,
		dbo.Users.ID
from    dbo.ObjectPrivileges inner join	dbo.CSLAObjects 
		on dbo.ObjectPrivileges.IdCSLAObject = dbo.CSLAObjects.Id 
		inner join dbo.Users
		on dbo.ObjectPrivileges.IdRole = dbo.Users.IdRole
where (dbo.ObjectPrivileges.Active = 1) AND (dbo.Users.UserName=@user) AND (dbo.Users.UserPass=@pw) 
		and (dbo.ObjectPrivileges.Active = 1)
GO
/****** Object:  StoredProcedure [dbo].[GetChildFieldsPrivileges]    Script Date: 08/06/2009 13:33:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
create PROCEDURE [dbo].[GetChildFieldsPrivileges] 
	-- Add the parameters for the stored procedure here
	@user nvarchar(50), 
	@pw nvarchar(50)
as
select  dbo.FieldsPrivileges.CSLAObjectPropertyName,
		dbo.CSLAObjects.CSLAObjectName,
		dbo.CSLAObjects.CSLAObjectType,
		dbo.Users.ID
from    dbo.FieldsPrivileges inner join	dbo.CSLAObjects 
		on dbo.FieldsPrivileges.IdCSLAObject = dbo.CSLAObjects.Id 
		inner join dbo.Users
		on dbo.FieldsPrivileges.IdRole = dbo.Users.IdRole
where (dbo.Users.Active = 1) AND (dbo.Users.UserName=@user) AND (dbo.Users.UserPass=@pw) 
		and (dbo.FieldsPrivileges.Active = 1)
GO
/****** Object:  View [dbo].[FieldPrivilegesList]    Script Date: 08/06/2009 13:33:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[FieldPrivilegesList]
AS
SELECT     dbo.Roles.RoleName, dbo.CSLAObjects.CSLAObjectName, dbo.CSLAObjects.CSLAObjectType, dbo.FieldsPrivileges.CSLAObjectPropertyName, 
                      dbo.FieldsPrivileges.Id, dbo.Roles.Id AS IdRole, dbo.CSLAObjects.Id AS IdObject
FROM         dbo.Roles INNER JOIN
                      dbo.FieldsPrivileges ON dbo.Roles.Id = dbo.FieldsPrivileges.IdRole INNER JOIN
                      dbo.CSLAObjects ON dbo.FieldsPrivileges.IdCSLAObject = dbo.CSLAObjects.Id
WHERE     (dbo.FieldsPrivileges.Active = 1)
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[40] 4[20] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "Roles"
            Begin Extent = 
               Top = 6
               Left = 38
               Bottom = 121
               Right = 190
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "FieldsPrivileges"
            Begin Extent = 
               Top = 97
               Left = 462
               Bottom = 212
               Right = 669
            End
            DisplayFlags = 280
            TopColumn = 1
         End
         Begin Table = "CSLAObjects"
            Begin Extent = 
               Top = 12
               Left = 287
               Bottom = 127
               Right = 452
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
      Begin ColumnWidths = 9
         Width = 284
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 2490
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'FieldPrivilegesList'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'FieldPrivilegesList'
GO
/****** Object:  StoredProcedure [dbo].[getCSLAObjects]    Script Date: 08/06/2009 13:33:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Description: Procedura za zimanje site zapisi

CREATE PROC [dbo].[getCSLAObjects]
AS
    SELECT 
        Id,
        IdCSLAObject,
        CSLAObjectName,
        CSLAObjectType,
        LastChanged
    FROM [CSLAObjects]
 WHERE Active = 1
GO
/****** Object:  StoredProcedure [dbo].[getCSLAObjectById]    Script Date: 08/06/2009 13:33:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Description: Procedura za zimanje na red po Primaren kluc
 
CREATE PROC [dbo].[getCSLAObjectById] 
	@id int
AS
    SELECT 
        Id,
        IdCSLAObject,
        CSLAObjectName,
        CSLAObjectType,
        LastChanged
    FROM   [CSLAObjects]
	WHERE (Id = @id) AND (Active = 1)
GO
/****** Object:  StoredProcedure [dbo].[deleteCSLAObject]    Script Date: 08/06/2009 13:33:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Description: Procedura za brisenje(AKTIVEN=FALSE) na zapis po primaren kluc

CREATE PROC [dbo].[deleteCSLAObject]
	@id int
AS
    UPDATE [CSLAObjects]
	SET
		Active=0
	WHERE ID=@id
GO
/****** Object:  StoredProcedure [dbo].[addCSLAObject]    Script Date: 08/06/2009 13:33:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Description: Procedura za dodavanje na nov zapis

CREATE PROC [dbo].[addCSLAObject]
		@IdCSLAObject int,
		@CSLAObjectName nvarchar(100),
		@CSLAObjectType nvarchar(100),
		@NewId int output,
		@newLastChanged timestamp output
AS
    INSERT INTO [CSLAObjects]
		(
		IdCSLAObject,
		CSLAObjectName,
		CSLAObjectType
		)
		VALUES
		(
		@IdCSLAObject,
		@CSLAObjectName,
		@CSLAObjectType
		)
	
	SELECT @NewId = Id, @newLastChanged = LastChanged
	FROM [CSLAObjects] WHERE Id=SCOPE_IDENTITY()
	RETURN
GO
/****** Object:  View [dbo].[ObjectPrivilegesList]    Script Date: 08/06/2009 13:33:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[ObjectPrivilegesList]
AS
SELECT     dbo.ObjectPrivileges.Id, dbo.ObjectPrivileges.IdRole, dbo.Roles.RoleName, dbo.ObjectPrivileges.IdCSLAObject, dbo.CSLAObjects.CSLAObjectName, 
                      dbo.ObjectPrivileges.CanAddObject, dbo.ObjectPrivileges.CanGetObject, dbo.ObjectPrivileges.CanDeleteObject, 
                      dbo.ObjectPrivileges.CanEditObject
FROM         dbo.ObjectPrivileges INNER JOIN
                      dbo.CSLAObjects ON dbo.ObjectPrivileges.IdCSLAObject = dbo.CSLAObjects.Id INNER JOIN
                      dbo.Roles ON dbo.ObjectPrivileges.IdRole = dbo.Roles.Id
WHERE     (dbo.ObjectPrivileges.Active = 1)
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[40] 4[20] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "ObjectPrivileges"
            Begin Extent = 
               Top = 6
               Left = 38
               Bottom = 121
               Right = 201
            End
            DisplayFlags = 280
            TopColumn = 5
         End
         Begin Table = "CSLAObjects"
            Begin Extent = 
               Top = 6
               Left = 239
               Bottom = 121
               Right = 404
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "Roles"
            Begin Extent = 
               Top = 6
               Left = 442
               Bottom = 121
               Right = 594
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
      Begin ColumnWidths = 9
         Width = 284
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'ObjectPrivilegesList'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'ObjectPrivilegesList'
GO
/****** Object:  StoredProcedure [dbo].[updateCSLAObject]    Script Date: 08/06/2009 13:33:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Description: Procedura za UPDATE na zapis

CREATE PROC [dbo].[updateCSLAObject]
		@Id int,
		@IdCSLAObject int,
		@CSLAObjectName nvarchar(100),
		@CSLAObjectType nvarchar(100),
		@LastChanged timestamp,
		@newLastChanged timestamp output
AS
    UPDATE [CSLAObjects]
		SET
		IdCSLAObject = @idcslaobject,
		CSLAObjectName = @cslaobjectname,
		CSLAObjectType = @cslaobjecttype
	WHERE ID=@id AND LastChanged=@lastChanged
  IF @@ROWCOUNT = 0
    RAISERROR('Redot e edituvan od drug korisnik', 16, 1)  
	
	SELECT @newLastChanged = LastChanged 
	FROM [CSLAObjects] WHERE ID=@id
	RETURN
GO
/****** Object:  StoredProcedure [dbo].[updateFieldsPrivilege]    Script Date: 08/06/2009 13:33:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Description: Procedura za UPDATE na zapis

CREATE PROC [dbo].[updateFieldsPrivilege]
		@Id bigint,
		@IdRole int,
		@IdCSLAObject int,
		@CSLAObjectPropertyName nvarchar(50),
		@LastChanged timestamp,
		@newLastChanged timestamp output
AS
    UPDATE [FieldsPrivileges]
		SET
		IdRole = @idrole,
		IdCSLAObject = @idcslaobject,
		CSLAObjectPropertyName = @cslaobjectpropertyname
	WHERE ID=@id AND LastChanged=@lastChanged
  IF @@ROWCOUNT = 0
    RAISERROR('Redot e edituvan od drug korisnik', 16, 1)  
	
	SELECT @newLastChanged = LastChanged 
	FROM [FieldsPrivileges] WHERE ID=@id
	RETURN
GO
/****** Object:  StoredProcedure [dbo].[getFieldsPrivileges]    Script Date: 08/06/2009 13:33:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Description: Procedura za zimanje site zapisi

CREATE PROC [dbo].[getFieldsPrivileges]
AS
    SELECT 
        Id,
        IdRole,
        IdCSLAObject,
        CSLAObjectPropertyName,
        LastChanged
    FROM [FieldsPrivileges]
 WHERE Active = 1
GO
/****** Object:  StoredProcedure [dbo].[getFieldsPrivilegeById]    Script Date: 08/06/2009 13:33:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Description: Procedura za zimanje na red po Primaren kluc
 
CREATE PROC [dbo].[getFieldsPrivilegeById] 
	@id bigint
AS
    SELECT 
        Id,
        IdRole,
        IdCSLAObject,
        CSLAObjectPropertyName,
        LastChanged
    FROM   [FieldsPrivileges]
	WHERE (Id = @id) AND (Active = 1)
GO
/****** Object:  StoredProcedure [dbo].[deleteFieldsPrivilege]    Script Date: 08/06/2009 13:33:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Description: Procedura za brisenje(AKTIVEN=FALSE) na zapis po primaren kluc

CREATE PROC [dbo].[deleteFieldsPrivilege]
	@id bigint
AS
    UPDATE [FieldsPrivileges]
	SET
		Active=0
	WHERE ID=@id
GO
/****** Object:  StoredProcedure [dbo].[addFieldsPrivilege]    Script Date: 08/06/2009 13:33:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Description: Procedura za dodavanje na nov zapis

CREATE PROC [dbo].[addFieldsPrivilege]
		@IdRole int,
		@IdCSLAObject int,
		@CSLAObjectPropertyName nvarchar(50),
		@NewId bigint output,
		@newLastChanged timestamp output
AS
    INSERT INTO [FieldsPrivileges]
		(
		IdRole,
		IdCSLAObject,
		CSLAObjectPropertyName
		)
		VALUES
		(
		@IdRole,
		@IdCSLAObject,
		@CSLAObjectPropertyName
		)
	
	SELECT @NewId = Id, @newLastChanged = LastChanged
	FROM [FieldsPrivileges] WHERE Id=SCOPE_IDENTITY()
	RETURN
GO
/****** Object:  StoredProcedure [dbo].[addObjectPrivilege]    Script Date: 08/06/2009 13:33:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Description: Procedura za dodavanje na nov zapis

CREATE PROC [dbo].[addObjectPrivilege]
		@IdRole int,
		@IdCSLAObject int,
		@CanAddObject bit,
		@CanGetObject bit,
		@CanDeleteObject bit,
		@CanEditObject bit,
		@NewId int output,
		@newLastChanged timestamp output
AS
    INSERT INTO [ObjectPrivileges]
		(
		IdRole,
		IdCSLAObject,
		CanAddObject,
		CanGetObject,
		CanDeleteObject,
		CanEditObject
		)
		VALUES
		(
		@IdRole,
		@IdCSLAObject,
		@CanAddObject,
		@CanGetObject,
		@CanDeleteObject,
		@CanEditObject
		)
	
	SELECT @NewId = Id, @newLastChanged = LastChanged
	FROM [ObjectPrivileges] WHERE Id=SCOPE_IDENTITY()
	RETURN
GO
/****** Object:  StoredProcedure [dbo].[getObjectPrivileges]    Script Date: 08/06/2009 13:33:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[getObjectPrivileges]
AS
    SELECT 
        Id,
        IdRole,
        IdCSLAObject,
        CanAddObject,
        CanGetObject,
        CanDeleteObject,
        CanEditObject,
        LastChanged
    FROM [ObjectPrivileges]
 WHERE Active = 1
GO
/****** Object:  StoredProcedure [dbo].[getObjectPrivilegeById]    Script Date: 08/06/2009 13:33:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Description: Procedura za zimanje na red po Primaren kluc
 
CREATE PROC [dbo].[getObjectPrivilegeById] 
	@id int
AS
    SELECT 
        Id,
        IdRole,
        IdCSLAObject,
        CanAddObject,
        CanGetObject,
        CanDeleteObject,
        CanEditObject,
        LastChanged
    FROM   [ObjectPrivileges]
	WHERE (Id = @id) AND (Active = 1)
GO
/****** Object:  StoredProcedure [dbo].[updateObjectPrivilege]    Script Date: 08/06/2009 13:33:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Description: Procedura za UPDATE na zapis

CREATE PROC [dbo].[updateObjectPrivilege]
		@Id int,
		@IdRole int,
		@IdCSLAObject int,
		@CanAddObject bit,
		@CanGetObject bit,
		@CanDeleteObject bit,
		@CanEditObject bit,
		@LastChanged timestamp,
		@newLastChanged timestamp output
AS
    UPDATE [ObjectPrivileges]
		SET
		IdRole = @idrole,
		IdCSLAObject = @idcslaobject,
		CanAddObject = @canaddobject,
		CanGetObject = @cangetobject,
		CanDeleteObject = @candeleteobject,
		CanEditObject = @caneditobject
	WHERE ID=@id AND LastChanged=@lastChanged
  IF @@ROWCOUNT = 0
    RAISERROR('Redot e edituvan od drug korisnik', 16, 1)  
	
	SELECT @newLastChanged = LastChanged 
	FROM [ObjectPrivileges] WHERE ID=@id
	RETURN
GO
/****** Object:  StoredProcedure [dbo].[deleteObjectPrivilege]    Script Date: 08/06/2009 13:33:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Description: Procedura za brisenje(AKTIVEN=FALSE) na zapis po primaren kluc

CREATE PROC [dbo].[deleteObjectPrivilege]
	@id int
AS
    UPDATE [ObjectPrivileges]
	SET
		Active=0
	WHERE ID=@id
GO
/****** Object:  StoredProcedure [dbo].[deleteUser]    Script Date: 08/06/2009 13:33:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Description: Procedura za brisenje(AKTIVEN=FALSE) na zapis po primaren kluc

CREATE PROC [dbo].[deleteUser]
	@id bigint
AS
    UPDATE [Users]
	SET
		Active=0
	WHERE ID=@id
GO
/****** Object:  StoredProcedure [dbo].[getUsers]    Script Date: 08/06/2009 13:33:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Description: Procedura za zimanje site zapisi

CREATE PROC [dbo].[getUsers]
AS
    SELECT 
        ID,
        IdRole,
        IdDataBase,
        UserFullName,
        UserName,
        UserPass,
        FirstName,
        SureName,
        Address,
        EMBG,
        BLK,
        DateOfBirth,
        DateOfHireing,
        RFID,
        LastChanged
    FROM [Users]
 WHERE Active = 1
GO
/****** Object:  StoredProcedure [dbo].[getUserById]    Script Date: 08/06/2009 13:33:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Description: Procedura za zimanje na red po Primaren kluc
 
CREATE PROC [dbo].[getUserById] 
	@id bigint
AS
    SELECT 
        ID,
        IdRole,
        IdDataBase,
        UserFullName,
        UserName,
        UserPass,
        FirstName,
        SureName,
        Address,
        EMBG,
        BLK,
        DateOfBirth,
        DateOfHireing,
        RFID,
        LastChanged
    FROM   [Users]
	WHERE (ID = @id) AND (Active = 1)
GO
/****** Object:  StoredProcedure [dbo].[updateUser]    Script Date: 08/06/2009 13:33:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Description: Procedura za UPDATE na zapis

CREATE PROC [dbo].[updateUser]
		@ID bigint,
		@IdRole int,
		@IdDataBase int,
		@UserFullName nvarchar(50),
		@UserName nvarchar(50),
		@UserPass nvarchar(50),
		@FirstName nvarchar(50),
		@SureName nvarchar(50),
		@Address nvarchar(200),
		@EMBG char(13),
		@BLK nvarchar(10),
		@DateOfBirth datetime,
		@DateOfHireing datetime,
		@RFID nvarchar(50),
		@LastChanged timestamp,
		@newLastChanged timestamp output
AS
    UPDATE [Users]
		SET
		IdRole = @idrole,
		IdDataBase = @iddatabase,
		UserFullName = @userfullname,
		UserName = @username,
		UserPass = @userpass,
		FirstName = @firstname,
		SureName = @surename,
		Address = @address,
		EMBG = @embg,
		BLK = @blk,
		DateOfBirth = @dateofbirth,
		DateOfHireing = @dateofhireing,
		RFID = @rfid
	WHERE ID=@id AND LastChanged=@lastChanged
  IF @@ROWCOUNT = 0
    RAISERROR('Redot e edituvan od drug korisnik', 16, 1)  
	
	SELECT @newLastChanged = LastChanged 
	FROM [Users] WHERE ID=@id
	RETURN
GO
/****** Object:  StoredProcedure [dbo].[addUser]    Script Date: 08/06/2009 13:33:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Description: Procedura za dodavanje na nov zapis

CREATE PROC [dbo].[addUser]
		@IdRole int,
		@IdDataBase int,
		@UserFullName nvarchar(50),
		@UserName nvarchar(50),
		@UserPass nvarchar(50),
		@FirstName nvarchar(50),
		@SureName nvarchar(50),
		@Address nvarchar(200),
		@EMBG char(13),
		@BLK nvarchar(10),
		@DateOfBirth datetime,
		@DateOfHireing datetime,
		@RFID nvarchar(50),
		@NewId bigint output,
		@newLastChanged timestamp output
AS
    INSERT INTO [Users]
		(
		IdRole,
		IdDataBase,
		UserFullName,
		UserName,
		UserPass,
		FirstName,
		SureName,
		Address,
		EMBG,
		BLK,
		DateOfBirth,
		DateOfHireing,
		RFID
		)
		VALUES
		(
		@IdRole,
		@IdDataBase,
		@UserFullName,
		@UserName,
		@UserPass,
		@FirstName,
		@SureName,
		@Address,
		@EMBG,
		@BLK,
		@DateOfBirth,
		@DateOfHireing,
		@RFID
		)
	
	SELECT @NewId = Id, @newLastChanged = LastChanged
	FROM [Users] WHERE ID=SCOPE_IDENTITY()
	RETURN
GO
/****** Object:  StoredProcedure [dbo].[deleteEmploye]    Script Date: 08/06/2009 13:33:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Description: Procedura za brisenje(AKTIVEN=FALSE) na zapis po primaren kluc

CREATE PROC [dbo].[deleteEmploye]
	@id int
AS
    UPDATE [Employes]
	SET
		Active=0
	WHERE ID=@id
GO
/****** Object:  StoredProcedure [dbo].[addEmploye]    Script Date: 08/06/2009 13:33:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Description: Procedura za dodavanje na nov zapis

CREATE PROC [dbo].[addEmploye]
		@IdWorkPosition int,
		@FirstName nvarchar(50),
		@Prezime nvarchar(50),
		@Address nvarchar(200),
		@EMBG char(13),
		@BLK nvarchar(10),
		@DateOfBirth datetime,
		@DateOfHireing datetime,
		@RFID nvarchar(50),
		@NewId int output,
		@newLastChanged timestamp output
AS
    INSERT INTO [Employes]
		(
		IdWorkPosition,
		FirstName,
		Prezime,
		Address,
		EMBG,
		BLK,
		DateOfBirth,
		DateOfHireing,
		RFID
		)
		VALUES
		(
		@IdWorkPosition,
		@FirstName,
		@Prezime,
		@Address,
		@EMBG,
		@BLK,
		@DateOfBirth,
		@DateOfHireing,
		@RFID
		)
	
	SELECT @NewId = Id, @newLastChanged = LastChanged
	FROM [Employes] WHERE Id=SCOPE_IDENTITY()
	RETURN
GO
/****** Object:  StoredProcedure [dbo].[getEmployes]    Script Date: 08/06/2009 13:33:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Description: Procedura za zimanje site zapisi

CREATE PROC [dbo].[getEmployes]
AS
    SELECT 
        Id,
        IdWorkPosition,
        FirstName,
        Prezime,
        Address,
        EMBG,
        BLK,
        DateOfBirth,
        DateOfHireing,
        RFID,
        LastChanged
    FROM [Employes]
 WHERE Active = 1
GO
/****** Object:  StoredProcedure [dbo].[getEmployeById]    Script Date: 08/06/2009 13:33:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Description: Procedura za zimanje na red po Primaren kluc
 
CREATE PROC [dbo].[getEmployeById] 
	@id int
AS
    SELECT 
        Id,
        IdWorkPosition,
        FirstName,
        Prezime,
        Address,
        EMBG,
        BLK,
        DateOfBirth,
        DateOfHireing,
        RFID,
        LastChanged
    FROM   [Employes]
	WHERE (Id = @id) AND (Active = 1)
GO
/****** Object:  StoredProcedure [dbo].[updateEmploye]    Script Date: 08/06/2009 13:33:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Description: Procedura za UPDATE na zapis

CREATE PROC [dbo].[updateEmploye]
		@Id int,
		@IdWorkPosition int,
		@FirstName nvarchar(50),
		@Prezime nvarchar(50),
		@Address nvarchar(200),
		@EMBG char(13),
		@BLK nvarchar(10),
		@DateOfBirth datetime,
		@DateOfHireing datetime,
		@RFID nvarchar(50),
		@LastChanged timestamp,
		@newLastChanged timestamp output
AS
    UPDATE [Employes]
		SET
		IdWorkPosition = @idworkposition,
		FirstName = @firstname,
		Prezime = @prezime,
		Address = @address,
		EMBG = @embg,
		BLK = @blk,
		DateOfBirth = @dateofbirth,
		DateOfHireing = @dateofhireing,
		RFID = @rfid
	WHERE ID=@id AND LastChanged=@lastChanged
  IF @@ROWCOUNT = 0
    RAISERROR('Redot e edituvan od drug korisnik', 16, 1)  
	
	SELECT @newLastChanged = LastChanged 
	FROM [Employes] WHERE ID=@id
	RETURN
GO
/****** Object:  StoredProcedure [dbo].[deleteRole]    Script Date: 08/06/2009 13:33:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Description: Procedura za brisenje(AKTIVEN=FALSE) na zapis po primaren kluc

CREATE PROC [dbo].[deleteRole]
	@id int
AS
    UPDATE [Roles]
	SET
		Active=0
	WHERE ID=@id
GO
/****** Object:  StoredProcedure [dbo].[getRoles]    Script Date: 08/06/2009 13:33:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Description: Procedura za zimanje site zapisi

CREATE PROC [dbo].[getRoles]
AS
    SELECT 
        Id,
        RoleName,
        LastChanged
    FROM [Roles]
 WHERE Active = 1
GO
/****** Object:  StoredProcedure [dbo].[getRoleById]    Script Date: 08/06/2009 13:33:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Description: Procedura za zimanje na red po Primaren kluc
 
CREATE PROC [dbo].[getRoleById] 
	@id int
AS
    SELECT 
        Id,
        RoleName,
        LastChanged
    FROM   [Roles]
	WHERE (Id = @id) AND (Active = 1)
GO
/****** Object:  StoredProcedure [dbo].[addRole]    Script Date: 08/06/2009 13:33:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Description: Procedura za dodavanje na nov zapis

CREATE PROC [dbo].[addRole]
		@RoleName nvarchar(50),
		@NewId int output,
		@newLastChanged timestamp output
AS
    INSERT INTO [Roles]
		(
		RoleName
		)
		VALUES
		(
		@RoleName
		)
	
	SELECT @NewId = Id, @newLastChanged = LastChanged
	FROM [Roles] WHERE Id=SCOPE_IDENTITY()
	RETURN
GO
/****** Object:  StoredProcedure [dbo].[updateRole]    Script Date: 08/06/2009 13:33:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Description: Procedura za UPDATE na zapis

CREATE PROC [dbo].[updateRole]
		@Id int,
		@RoleName nvarchar(50),
		@LastChanged timestamp,
		@newLastChanged timestamp output
AS
    UPDATE [Roles]
		SET
		RoleName = @rolename
	WHERE ID=@id AND LastChanged=@lastChanged
  IF @@ROWCOUNT = 0
    RAISERROR('Redot e edituvan od drug korisnik', 16, 1)  
	
	SELECT @newLastChanged = LastChanged 
	FROM [Roles] WHERE ID=@id
	RETURN
GO
/****** Object:  ForeignKey [FK_CSLAObjects_CSLAObjects]    Script Date: 08/06/2009 13:33:41 ******/
ALTER TABLE [dbo].[CSLAObjects]  WITH NOCHECK ADD  CONSTRAINT [FK_CSLAObjects_CSLAObjects] FOREIGN KEY([IdCSLAObject])
REFERENCES [dbo].[CSLAObjects] ([Id])
NOT FOR REPLICATION
GO
ALTER TABLE [dbo].[CSLAObjects] CHECK CONSTRAINT [FK_CSLAObjects_CSLAObjects]
GO
/****** Object:  ForeignKey [FK_Users_DataBases]    Script Date: 08/06/2009 13:33:42 ******/
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_Users_DataBases] FOREIGN KEY([IdDataBase])
REFERENCES [dbo].[DataBases] ([Id])
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_Users_DataBases]
GO
/****** Object:  ForeignKey [FK_Users_Roles]    Script Date: 08/06/2009 13:33:42 ******/
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_Users_Roles] FOREIGN KEY([IdRole])
REFERENCES [dbo].[Roles] ([Id])
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_Users_Roles]
GO
/****** Object:  ForeignKey [FK_FieldsPrivileges_CSLAObjects]    Script Date: 08/06/2009 13:33:42 ******/
ALTER TABLE [dbo].[FieldsPrivileges]  WITH CHECK ADD  CONSTRAINT [FK_FieldsPrivileges_CSLAObjects] FOREIGN KEY([IdCSLAObject])
REFERENCES [dbo].[CSLAObjects] ([Id])
GO
ALTER TABLE [dbo].[FieldsPrivileges] CHECK CONSTRAINT [FK_FieldsPrivileges_CSLAObjects]
GO
/****** Object:  ForeignKey [FK_FieldsPrivileges_Roles]    Script Date: 08/06/2009 13:33:42 ******/
ALTER TABLE [dbo].[FieldsPrivileges]  WITH CHECK ADD  CONSTRAINT [FK_FieldsPrivileges_Roles] FOREIGN KEY([IdRole])
REFERENCES [dbo].[Roles] ([Id])
GO
ALTER TABLE [dbo].[FieldsPrivileges] CHECK CONSTRAINT [FK_FieldsPrivileges_Roles]
GO
/****** Object:  ForeignKey [FK_ObjectPrivileges_CSLAObjects]    Script Date: 08/06/2009 13:33:42 ******/
ALTER TABLE [dbo].[ObjectPrivileges]  WITH CHECK ADD  CONSTRAINT [FK_ObjectPrivileges_CSLAObjects] FOREIGN KEY([IdCSLAObject])
REFERENCES [dbo].[CSLAObjects] ([Id])
GO
ALTER TABLE [dbo].[ObjectPrivileges] CHECK CONSTRAINT [FK_ObjectPrivileges_CSLAObjects]
GO
/****** Object:  ForeignKey [FK_ObjectPrivileges_Roles]    Script Date: 08/06/2009 13:33:42 ******/
ALTER TABLE [dbo].[ObjectPrivileges]  WITH CHECK ADD  CONSTRAINT [FK_ObjectPrivileges_Roles] FOREIGN KEY([IdRole])
REFERENCES [dbo].[Roles] ([Id])
GO
ALTER TABLE [dbo].[ObjectPrivileges] CHECK CONSTRAINT [FK_ObjectPrivileges_Roles]
GO
